.settings {
    background-image: url("./assets/imgs/settings/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 10;
}

    .settings::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: url("./assets/imgs/settings/bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: blur(10px);
    }

.section-header .title {
    padding: 15px 0;
    text-align: center;
}

.settings .setting-content {
    position: relative;
    width: max-content;
    display: flex;
    column-gap: 25px;
}

.setting-content .contents .title {
    text-align: center;
}

.section-footer {
    padding: 10px 0;
    text-align: center;
}

/* Box */
.box {
    position: relative;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.box-header {
    position: relative;
    padding: 10px;
}

    .box-header .title {
        text-align: center;
    }

.box-tools {
    position: absolute;
    top: 0;
    right: 0;
}

    .box-tools .btn {
        background: transparent;
        color: #0000005d;
    }

.box-content {
    min-height: 180px;
    padding: 10px 10px;
}

/* 创建 */
.section-create .section-content {
    display: grid;
    grid-template-areas: "a a" "b c";
    column-gap: 10px;
    row-gap: 10px;
}

.box-create {
    grid-area: a;
}

    .box-create .box-content,
    .box-list .box-content {
        min-height: 250px;
    }

.box-single {
    cursor: pointer;
    grid-area: b;
}

.box-multi {
    cursor: pointer;
    grid-area: c;
}

    .box-single.active,
    .box-multi.active {
        color: #fff;
        background: #51d6da;
    }

.box-single,
.box-multi {
    color: #8f8f8f;
}

.setting-item {
    display: flex;
    padding: 5px 0;
}

.setting-title {
    min-width: 150px;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
    line-height: 35px;
}

.setting-btns {
    text-align: center;
    padding: 10px 0;
    display: flex;
    column-gap: 5px;
}

.btn {
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    background: #0000004d;
}

.btn-option {
    color: #ffffff8d;
    border: 1px solid #778085;
}

    .btn-option.active {
        color: #fff;
        border: 1px solid #51d6da;
        background: #51d6da;
    }

.btn-start {
    padding: 10px 30px;
    border: 1px solid #005691;
    background: #005691;
}

.option-items {
    width: 280px;
}

    .option-items img {
        display: block;
        width: 150px;
        margin: 0 auto;
    }

.option-icon {
    width: 120px;
}

/* 加入 */
.section-add .section-content {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.server-item {
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
}

    .server-item:hover {
        background-color: #ffffff3d;
    }

    .server-item > * {
        flex: 1;
    }

/* Room */
.setting-room {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background: #ffffff9d;
}

.room-players {
    flex-direction: column;
}

.box-playerItem {
    width: 300px;
    padding: 15px 20px;
    font-size: 1.2rem;
    line-height: 50px;
    display: flex;
    column-gap: 10px;
}

    .box-playerItem .item-img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }

.content-footer {
    padding: 10px 0;
    text-align: center;
}

/* select */
.select-title {
    margin-bottom: 50px;
    text-align: center;
}

.poker-info .infos {
    margin-top: 20px;
}

.info-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30px;
}

.select-pokers {
    column-gap: 50px;
}

/* rank */
.select-rank {
    position: absolute;
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.6);
}

.rank-title {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

.rank-players .player-infos {
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

/* Host */
.game-host {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.other-players {
    justify-content: center;
}

.other-pokers {
    width: 350px;
    flex-wrap: wrap;
    column-gap: 0;
}

    .other-pokers .poker-item {
        width: 50px;
        height: 90px;
    }

.section-server {
    text-align: center;
    padding: 5% 20%;
}

    .section-server .section-contents {
        height: -webkit-fill-available;
        padding: 10px;
        display: grid;
        grid-template-areas: 'infos logs' 'players logs';
        grid-template-columns: 1fr 500px;
        row-gap: 20px;
        column-gap: 20px;
    }

.box-infos {
    grid-area: infos;
    text-align: left;
    font-size: 0.8rem;
    line-height: 25px;
}

.box-players {
    grid-area: players;
}

.box-logs {
    grid-area: logs;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.logs {
    text-align: left;
    line-height: 30px;
}
