<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../libs/pubs/contents.css">

    <link rel="stylesheet" href="../../games/game.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="app">
        <!-- 游戏界面 -->
        <section class="section-game">
            <!-- 牌桌 -->
            <div class="game-map">
                <!-- 本人界面 -->
                <div class="game-player">
                    <!-- 操作按钮-->
                    <div class="players-btns">
                        <button type="button" class="btn btn-play" v-if="gameStatus.status=='waitingPlay'"
                            onclick="adminPlay()">出牌</button>
                        <button type="button" class="btn btn-play" v-if="gameStatus.status=='waitingPlay'"
                            onclick="getPoker(1,0)">摸牌</button>
                        <button type="button" class="btn btn-play"
                            v-if="gameStatus.status=='waitingPlay'&&!gameSetting.pokerRules.isForce"
                            onclick="getPoker(1,0)">跳过</button>
                        <div class="color-btns" v-if="gameStatus.status=='waitingColor'">
                            <button type="button" class="btn btn-play btn-red" onclick="changeColor('red')">Red</button>
                            <button type="button" class="btn btn-play btn-yellow"
                                onclick="changeColor('yellow')">Yellow</button>
                            <button type="button" class="btn btn-play btn-green"
                                onclick="changeColor('green')">Green</button>
                            <button type="button" class="btn btn-play btn-blue"
                                onclick="changeColor('blue')">Blue</button>
                        </div>
                    </div>
                    <!-- 玩家界面-->
                    <div class="player-item">
                        <!-- 玩家信息 -->
                        <div class="player-infos">
                            <div class="item-img">
                                <img v-bind:src="'../../assets/imgs/players/'+hostPlayer.img"
                                    onerror="console.log('IMGError','others')">
                            </div>
                            <div class="item-status" v-bind:class="hostPlayer.isOnline?'active':''">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="item-name">
                                <div class="icon-robot" v-if="hostPlayer.type=='robot'">
                                    <img src="./assets/imgs/system/robot.png">
                                </div>
                                <span>{{hostPlayer.showName}}</span>
                            </div>
                        </div>
                        <!-- 牌堆 -->
                        <div class="list-pokers">
                            <div class="poker" v-for="(poker,index) in hostPlayer.pokers"
                                v-bind:class="getStatus(poker)" v-bind:style="getStyle(poker)"
                                v-on:click="selectPoker(0,index)">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 其余玩家 -->
                <div class="players players-other">

                </div>
                <!-- 进度信息 -->
                <div class="game-infos">

                </div>
            </div>
        </section>
        <!-- 等待界面 -->
        <section class="section-loading" v-show="loading.value>0">
            <div class="loading"></div>
        </section>
    </div>
    <!-- 通知信息 -->
    <div id="notify"></div>

    <script src="../../libs/vue/vue.min.js"></script>

    <script src="../../libs/signalr/signalr.min.js"></script>
    <script src="../../libs/signalr/chat.js"></script>
    <script src="../../libs/pubs/extend.js"></script>
    <script src="../../libs/notify/notify.js"></script>

    <script src="../../games/com.js"></script>
    <script src="../../games/game.js"></script>
    <script src="../../games/pokers.js"></script>

    <script src="./index.js"></script>

    <script>
        window.onload = function () {
            // 获取用户代码
            app.keyCode = ExWeb.query("keyCode")
            //
            startCon()
        }
    </script>

    <script>
        // 建立之后触发
        function afterStart() {
            // 获取服务信息
            getinfoServer()
        }
        // 处理信息
        function getMessage(mes) {
            // 处理信息
            handleMessage(mes)
        }
    </script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 页面通用信息
                keyCode: "",
                serverInfos: {
                    model: "single",
                    //
                    isActive: false,
                    code: "",
                    name: "",
                    password: "",
                    limit: 4,
                },
                gameInfos: {
                    type: "uno",
                    showName: "",
                    isActive: "",
                    category: "",
                    playerCount: 0,
                    rules: {},
                },
                gameStatus: {
                    step: "game",
                    status: "",
                },
                activeCode: "",
                players: [],
                // 页面所需信息
                gamingInfos: {
                    pokers: [], // 牌堆
                    pokersUsed: [], // 墓地
                    pokersLast: [], // 上几张牌的记录
                    //
                    step: 1, // 回合方向
                    status: "", // 特殊状态 +2|+4|ban
                },
                // loading
                loading: {
                    value: 0,
                    load: function () {
                        this.value++
                    },
                    end: function () {
                        this.value--
                    },
                    clear: function () {
                        this.value = 0
                    },
                },
            },
            computed: {
                hostPlayer: function () {
                    return groupPlayers(this.players, this.keyCode).playerInfo
                },
                otherPlayers: function () {
                    return groupPlayers(this.players, this.keyCode).otherPlayers
                },
            },
            methods: {
                // 获取状态
                getStatus: function (poker) {
                    let result = [];
                    if (poker.isSelected) { result.push("poker-selected") }
                    return result;
                },
                // 获取样式
                getStyle: function (poker) {
                    let result = {
                        backgroundImage: "",
                    };
                    //
                    if (poker) {
                        let url = "./assets/imgs/games/" + this.gameInfos.type + "/" + poker.img;
                        if (poker.isCover) { url = "../../assets/imgs/games/" + this.gameInfos.type + "/poker-cover.png"; }
                        result.backgroundImage = "url('" + url + "')";
                    }
                    //
                    return result;
                },
            },
        })
    </script>
</body>

</html>