<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../libs/pubs/contents.css">

    <link rel="stylesheet" href="../../games/game.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div>
        <div id="app" class="section-game">
            <div class="map-games">
                <!-- 玩家界面 -->
                <div class="game-players">
                    <div class="players" v-for="(player,playerIndex) in players" v-bind:class="'player-'+playerIndex">
                        <!-- 操作按钮-->
                        <div class="players-btns">
                            <button type="button" class="btn btn-play"
                                v-if="player.type=='admin'&&gameInfo.status=='waitingPlay'"
                                onclick="adminPlay()">出牌</button>
                            <button type="button" class="btn btn-play"
                                v-if="player.type=='admin'&&gameInfo.status=='waitingPlay'"
                                onclick="getPoker(1,0)">摸牌</button>
                            <button type="button" class="btn btn-play"
                                v-if="player.type=='admin'&&gameInfo.status=='waitingPlay'&&!gameSetting.pokerRules.isForce"
                                onclick="getPoker(1,0)">跳过</button>
                            <div class="color-btns" v-if="player.type=='admin'&&gameInfo.status=='waitingColor'">
                                <button type="button" class="btn btn-play btn-red"
                                    onclick="changeColor('red')">Red</button>
                                <button type="button" class="btn btn-play btn-yellow"
                                    onclick="changeColor('yellow')">Yellow</button>
                                <button type="button" class="btn btn-play btn-green"
                                    onclick="changeColor('green')">Green</button>
                                <button type="button" class="btn btn-play btn-blue"
                                    onclick="changeColor('blue')">Blue</button>
                            </div>
                        </div>
                        <!-- 牌堆 -->
                        <div class="players-pokers" v-if="player.pokers.length>0">
                            <div class="list-pokers">
                                <div class="poker" v-for="(poker,index) in player.pokers"
                                    v-bind:class="getStatus(poker)" v-bind:style="getStyle(poker)"
                                    v-on:click="selectPoker(playerIndex,index)">
                                </div>
                            </div>
                            <div class="pokers-player">
                                <img v-bind:src="'./assets/users/player-'+playerIndex+'-'+player.isActive+'.png'" />
                                <div class="pokers-num">
                                    <span>{{player.pokers.length}}</span>

                                </div>
                                <span class="pokers-txt">{{player.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 按钮 -->
                <div class="game-area game-btns">
                    <button type="button" class="btn" onclick="endGame(0)">退出</button>
                </div>
                <!-- 牌堆 -->
                <div class="game-area game-pokers">
                    <div class="list-pokers">
                        <div class="poker" v-for="(poker,index) in pokers" v-bind:style="getStyle(poker)">
                        </div>
                    </div>
                </div>
                <!-- 进度信息 -->
                <div class="game-area game-infos" v-if="lastInfo.poker" v-bind:class="'infos-'+lastInfo.poker.color">
                    <div class="list-pokers pokers-used">
                        <div class="poker" v-for="(poker,index) in getPokersUsed().pokers"
                            v-bind:style="getStyle(poker)">
                        </div>
                    </div>
                    <div class="infos-pokers">
                        <div class="poker poker-item1" v-if="getPokersUsed().poker1"
                            v-bind:style="getStyle(getPokersUsed().poker1)"></div>
                        <div class="poker poker-item2" v-if="getPokersUsed().poker2"
                            v-bind:style="getStyle(getPokersUsed().poker2)"></div>
                        <div class="poker poker-item3" v-if="getPokersUsed().poker3"
                            v-bind:style="getStyle(getPokersUsed().poker3)"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="notify"></div>
    </div>

    <script src="../../libs/vue/vue.min.js"></script>

    <script src="../../libs/signalr/signalr.min.js"></script>
    <script src="../../libs/signalr/chat.js"></script>
    <script src="../../libs/pubs/extend.js"></script>
    <script src="../../libs/notify/notify.js"></script>

    <script src="../../games/com.js"></script>
    <script src="../../games/game.js"></script>
    <script src="../../games/pokers.js"></script>

    <script src="./index.js"></script>

    <script>
        window.onload = function () {
            // 获取用户代码
            app.keyCode = ExWeb.query("keyCode")
            //
            startCon()
        }
    </script>

    <script>
        // 建立之后触发
        function afterStart() {
            // 获取服务信息
            getinfoServer()
            //

        }
        // 处理信息
        function getMessage(mes) {
            // 处理信息
            handleMessage(mes)
        }
    </script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 页面通用信息
                keyCode: "",
                serverInfos: {
                    model: "single",
                    //
                    isActive: false,
                    code: "",
                    name: "",
                    password: "",
                    limit: 4,
                },
                gameInfos: {
                    type: "",
                    category: "",
                    showName: "",
                    playerCount: 0,
                    rules: {},
                },
                gameStatus: {
                    step: "game",
                },
                activeCode: "", // 当前操作玩家
                players: [],
                // 页面所需信息
                pokers: [], // 牌堆
                pokersUsed: [], // 已用牌堆
            },
            computed: {
                hostPlayer: function () {
                    return groupPlayers(this.players, this.keyCode).playerInfo
                },
                otherPlayers: function () {
                    return groupPlayers(this.players, this.keyCode).otherPlayers
                },
            },
        })
    </script>
</body>

</html>