/** Player **/
.players {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
}

.player-item {
    display: flex;
    column-gap: 20px;
}

.player-infos {
    width: 80px;
}

.player-infos .item-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.player-infos .item-name {
    text-align: center;
}

/** Poker **/
.pokers {
    width: max-content;
    display: flex;
    column-gap: 5px;
}

.poker-item {
    cursor: pointer;
    width: 80px;
    height: 160px;
    background-size: 100% 100%;
}

.poker-item.selected {
    margin-top: -20px;
}
